<template>
	<div class="backdrops" v-if="loading">
		<div id="spinner"></div>
	</div>
</template>

<script>
export default {
	name: "spinner",
	data: () => ({
		loading: false
	}),
	methods: {
		start() {
			this.loading = true
		},
		finish() {
			this.loading = false
		}
	}
}
</script>

<style scoped>
.backdrops{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	z-index: 9999;
}
#spinner,
#spinner:after{
	border-radius:50%;
	width:6em;
	height:6em
}
#spinner{
	font-size:10px;
	position:absolute;
	top:calc(50% - 3em);
	left:calc(50% - 3em);
	text-indent:-9999em;
	border-top:.5em solid hsla(0,0%,100%,.2);
	border-right:.5em solid hsla(0,0%,100%,.2);
	border-bottom:.5em solid hsla(0,0%,100%,.2);
	border-left:.5em solid #fff;
	transform:translateZ(0);
	-webkit-animation:load8 1.1s linear infinite;
	animation:load8 1.1s linear infinite;
	z-index:3
}

@-webkit-keyframes load8{
	 0%{
		 transform:rotate(0deg)
	 }
	to{
		transform:rotate(1turn)
	}
}
@keyframes load8{
	0%{
		transform:rotate(0deg)
	}
	to{
		transform:rotate(1turn)
	}
}
</style>
