
/* app 높이 확장 */
#__nuxt {
    height: 100vh;
}

/* 최소 너비 355px */
/*  */
body > div {
    min-width: 355px;
}



.indigo {
    background-color: #3f51b5;
}
.red {
    background-color: #f44336;
}

button {
    font-family: 'Roboto', sans-serif !important;

}
