
/* app 높이 확장 */
.app-page {
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #14274AE5;
}

/* 최소 너비 355px */
/*  */
body > div {
    min-width: 355px;
}



.indigo {
    background-color: #3f51b5;
}
.red {
    background-color: #f44336;
}

button {
    font-family: 'Roboto', sans-serif !important;

}
