@import 'elcustom.scss';

@media (min-width: 36.75rem) {
    :root {
        --global-fontFamilies-display: system-ui;
        --global-fontFamilies-heading: system-ui;
        --global-fontFamilies-body: system-ui;
        --global-fontFamilies-data: SF Mono;
        --global-lineHeights-display: 1.2;
        --global-lineHeights-heading: 1.2;
        --global-lineHeights-body: 1.4;
        --global-lineHeights-data: 1;
        --global-fontWeights-display: 600;
        --global-fontWeights-heading: 600;
        --global-fontWeights-body: 400;
        --global-fontWeights-data: 400;
        --global-fontSizes-display-xl: 52px;
        --global-fontSizes-display-lg: 40px;
        --global-fontSizes-display-md: 28px;
        --global-fontSizes-heading-xl: 24px;
        --global-fontSizes-heading-lg: 20px;
        --global-fontSizes-heading-md: 16px;
        --global-fontSizes-heading-sm: 14px;
        --global-fontSizes-heading-xs: 12px;
        --global-fontSizes-body-lg: 16px;
        --global-fontSizes-body-md: 14px;
        --global-fontSizes-body-sm: 12px;
        --global-fontSizes-data-md: 12px;
        --global-letterSpacing-display: 0%;
        --global-letterSpacing-heading: -2%;
        --global-letterSpacing-body: -2%;
        --global-letterSpacing-data: 0%;
        --global-paragraphSpacing-none: 0px;
        --global-paragraphSpacing-sm: 16px;
        --global-paragraphSpacing-md: 18px;
        --global-paragraphSpacing-lg: 20px;
        --global-textCase-none: none;
        --global-textCase-uppercase: uppercase;
        --global-textDecoration-none: none;
        --component-lineHeights-button: 1;
        --component-fontFamilies-button: system-ui;
        --component-fontWeights-button: 500;
        --component-letterSpacing-button: -2%;
        --component-radius-button: 8px;
        --component-fontSizes-button-lg: 16px;
        --component-fontSizes-button-md: 14px;
        --component-fontSizes-button-sm: 12px;
    }
}
:root {
    --global-fontFamilies-display: system-ui;
    --global-fontFamilies-heading: system-ui;
    --global-fontFamilies-body: system-ui;
    --global-fontFamilies-data: SF Mono;
    --global-lineHeights-display: 1.2;
    --global-lineHeights-heading: 1.2;
    --global-lineHeights-body: 1.3;
    --global-lineHeights-data: 1;
    --global-fontWeights-display: 600;
    --global-fontWeights-heading: 600;
    --global-fontWeights-body: 400;
    --global-fontWeights-data: 400;
    --global-fontSizes-display-xl: 32px;
    --global-fontSizes-display-lg: 28px;
    --global-fontSizes-display-md: 24px;
    --global-fontSizes-heading-xl: 24px;
    --global-fontSizes-heading-lg: 22px;
    --global-fontSizes-heading-md: 18px;
    --global-fontSizes-heading-sm: 16px;
    --global-fontSizes-heading-xs: 12px;
    --global-fontSizes-body-lg: 18px;
    --global-fontSizes-body-md: 16px;
    --global-fontSizes-body-sm: 14px;
    --global-fontSizes-data-md: 12px;
    --global-letterSpacing-display: -2%;
    --global-letterSpacing-heading: -2%;
    --global-letterSpacing-body: -2%;
    --global-letterSpacing-data: 0%;
    --global-paragraphSpacing-none: 0px;
    --global-paragraphSpacing-sm: 16px;
    --global-paragraphSpacing-md: 18px;
    --global-paragraphSpacing-lg: 20px;
    --global-textCase-none: none;
    --global-textCase-uppercase: uppercase;
    --global-textDecoration-none: none;
    --component-fontFamilies-button: system-ui;
    --component-fontWeights-button: 500;
    --component-letterSpacing-button: -2%;
    --component-radius-button: 8px;
    --component-fontSizes-button-lg: 18px;
    --component-fontSizes-button-md: 16px;
    --component-fontSizes-button-sm: 14px;
    --component-lineHeights-button: 1;

}
:root {
    --global-fontStack-fallback: Roboto,sans-serif;
    --global-fontStack-data-fallback: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    --global-fontStack-display: var(--global-fontFamilies-display),var(--global-fontStack-fallback);
    --global-fontStack-heading: var(--global-fontFamilies-heading),var(--global-fontStack-fallback);
    --global-fontStack-body: var(--global-fontFamilies-body),var(--global-fontStack-fallback);
    --global-fontStack-button: var(--component-fontFamilies-button),var(--global-fontStack-fallback);
    --global-fontStack-data: var(--global-fontFamilies-data),var(--global-fontStack-data-fallback);
}
:root {
    --global-radius-lg: 12px;
    --global-radius-md: 8px;
    --global-radius-sm: 4px;
    --global-radius-circle: 50%;
    --global-radius-pill: 9999px;
    --global-opacity-enabled: 1;
    --global-opacity-disabled: 0.3;
    --global-borderWidth-thin: 1px;
    --global-borderWidth-thick: 2px;
    --global-space-4: 4px;
    --global-space-8: 8px;
    --global-space-12: 12px;
    --global-space-16: 16px;
    --global-space-24: 24px;
    --global-space-32: 32px;
    --global-space-40: 40px;
    --global-space-48: 48px;
    --global-space-56: 56px;
}
:root {
    --global-bg-page-default: #F6F7FA;
    --global-bg-pageAlt-default: #FFFFFF;
    --global-bg-base-default: #FFFFFF;
    --global-bg-base-hover: #F6F7FA;
    --global-bg-base-pressed: #E6E9F0;
    --global-bg-baseAlt-default: #F6F7FA;
    --global-bg-baseAlt-hover: #E6E9F0;
    --global-bg-baseAlt-pressed: #D8DCE5;
    --global-bg-elevated-default: #FFFFFF;
    --global-bg-elevated-hover: #F6F7FA;
    --global-bg-elevated-pressed: #E6E9F0;
    --global-content-regular-default: rgba(11,12,15,0.95);
    --global-content-regular-hover: rgba(8,10,18,0.85);
    --global-content-regular-pressed: rgba(14,18,32,0.7);
    --global-content-muted-default: rgba(14,18,32,0.7);
    --global-content-muted-hover: rgba(8,10,18,0.85);
    --global-content-muted-pressed: rgba(11,12,15,0.95);
    --global-content-inverted-default: rgba(250,251,255,0.98);
    --global-content-inverted-hover: rgba(246,248,254,0.94);
    --global-content-inverted-pressed: rgba(241,244,253,0.9);
    --global-content-invertedMuted-default: rgba(233,237,252,0.7);
    --global-content-invertedMuted-hover: rgba(237,241,253,0.84);
    --global-content-invertedMuted-pressed: rgba(241,244,253,0.9);
    --global-constant-white-default: #ffffff;
    --global-constant-white-hover: rgba(255,255,255,0.96);
    --global-constant-white-pressed: rgba(255,255,255,0.9);
    --global-constant-whiteMuted-default: rgba(255,255,255,0.66);
    --global-constant-whiteMuted-hover: rgba(255,255,255,0.8);
    --global-constant-whiteMuted-pressed: rgba(255,255,255,0.86);
    --global-constant-whiteSubtle-default: rgba(255,255,255,0.18);
    --global-constant-whiteSubtle-hover: rgba(255,255,255,0.34);
    --global-constant-whiteSubtle-pressed: rgba(255,255,255,0.5);
    --global-constant-black-default: #000000;
    --global-constant-black-hover: rgba(0,0,0,0.9);
    --global-constant-black-pressed: rgba(0,0,0,0.82);
    --global-constant-blackMuted-default: rgba(0,0,0,0.5);
    --global-constant-blackMuted-hover: rgba(0,0,0,0.66);
    --global-constant-blackMuted-pressed: rgba(0,0,0,0.82);
    --global-constant-blackSubtle-default: rgba(0,0,0,0.14);
    --global-constant-blackSubtle-hover: rgba(0,0,0,0.2);
    --global-constant-blackSubtle-pressed: rgba(0,0,0,0.34);
    --global-primary-action-default: #22549F;
    --global-primary-action-hover: #183F7B;
    --global-primary-action-pressed: #102A52;
    --global-primary-muted-default: #E2EBF7;
    --global-primary-muted-hover: #CEDDF2;
    --global-primary-muted-pressed: #A4C1ED;
    --global-secondary-action-default: rgba(34,84,159,0.1);
    --global-secondary-action-hover: rgba(34,84,159,0.2);
    --global-secondary-action-pressed: rgba(34,84,159,0.3);
    --global-secondary-muted-default: rgba(34,84,159,0.05);
    --global-secondary-muted-hover: rgba(34,84,159,0.1);
    --global-secondary-muted-pressed: rgba(34,84,159,0.2);
    --global-success-action-default: #148565;
    --global-success-action-hover: #07694D;
    --global-success-action-pressed: #094E3A;
    --global-success-muted-default: #D9F5E4;
    --global-success-muted-hover: #BCEDD5;
    --global-success-muted-pressed: #7BE0B1;
    --global-warning-action-default: #A83500;
    --global-warning-action-hover: #571900;
    --global-warning-action-pressed: #381000;
    --global-warning-muted-default: #FCEFCA;
    --global-warning-muted-hover: #FCE5A5;
    --global-warning-muted-pressed: #FFDA75;
    --global-critical-action-default: #E32144;
    --global-critical-action-hover: #BE1332;
    --global-critical-action-pressed: #990620;
    --global-critical-muted-default: #F7DEE0;
    --global-critical-muted-hover: #FFC2C6;
    --global-critical-muted-pressed: #FF9EA5;
    --global-border-action-default: rgba(130,140,171,0.3);
    --global-border-action-hover: rgba(116,126,154,0.4);
    --global-border-action-pressed: rgba(73,80,101,0.5);
    --global-border-muted-default: rgba(141,152,185,0.2);
    --global-border-muted-hover: rgba(130,140,171,0.3);
    --global-border-muted-pressed: rgba(116,126,154,0.4);
    --global-brand-discord: #5865F2;
    --global-brand-facebook: #1877F2;
    --global-brand-google: #D9453D;
    --global-brand-memberful: #DE5B38;
    --global-brand-patreon: #F1465A;
    --global-brand-pinterest: #E60023;
    --global-brand-reddit: #FF4500;
    --global-brand-spotify: #00DB54;
    --global-brand-tumblr: #35465C;
    --global-brand-twitch: #9046FF;
    --global-brand-twitter: #1DA1F2;
    --global-brand-youtube: #FF0000;
    --global-boxShadow-high: 0px 20px 40px 0px rgba(0,0,0,0.04),0px 6px 15px 0px rgba(0,0,0,0.06),0px 1px 5px 0px rgba(0,0,0,0.08);
    --global-boxShadow-mid: 0px 0px 20px 0px rgba(0,0,0,0.04),0px 4px 14px 0px rgba(0,0,0,0.06),0px 1px 5px 0px rgba(0,0,0,0.08);
    --global-boxShadow-low: 0px 1px 4px 0px rgba(0,0,0,0.1),0px 0px 1px 0px rgba(0,0,0,0.1);
    --global-boxShadow-subtle: 0px 1px 4px 0px rgba(0,0,0,0.04),0px 0px 1px 0px rgba(0,0,0,0.04);
    --component-dialog-overlay-bg: rgba(38,45,64,0.6);
}

.hTBox {
    font-family: var(--global-fontStack-display);
    font-weight: var(--global-fontWeights-display);
    letter-spacing: var(--global-letterSpacing-display);
    color: var(--global-content-regular-default);
    margin: 0;
    font-size: var(--global-fontSizes-display-md);
    text-align: center;
    line-height: var(--global-lineHeights-display) !important;
}
.max-centerBox {
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 32rem;
    width: 100%;
}
.hrLine {
    border: none;
    margin: 0px;
    background-color: var(--global-border-muted-default);
    height: 1px;
    width: 100%;
}
.middle_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--global-space-24);
    margin-bottom: var(--global-space-24);
    white-space: nowrap;
    flex-wrap: nowrap;
}

.fullButton {
    border: var(--global-borderWidth-thin) solid var(--global-border-action-default);
    border-radius: var(--component-radius-button);

    font-size: 1rem;
    font-weight: var(--component-fontWeights-button);
    font-family: var(--global-fontStack-button);
    color: var(--global-content-regular-default);

    &:hover {
        border: var(--global-borderWidth-thin) solid var(--global-border-action-hover);
        background-color: transparent;
        color: var(--global-content-regular-hover);
    }
}

a {
    color: var(--global-primary-action-default);
    &:hover {
        text-decoration: none;
        color: var(--global-primary-action-hover);
    }
}
