/* Enter 단계에서는 transition을 추가하지 않음 */
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 1s; /*# 시간을 명시해줌*/
    opacity: 1;     /* 1초 뒤에 opacity 0을 opacity 1로 바꿔줌 */
}

/* Slide transition using Animation property of CSS */
.slide-enter{
    /* keyframe에 이미 초기 상태를 정의해놔서 여기에 정의 안해도 됨 */
}

.slide-enter-active{
    animation: slide-in 1s ease-out forwards;
    /* forwards = element가 finishing position에 붙어놓음  */
    transition: opacity .5s;
}

.slide-leave {

}

.slide-leave-active {
    animation: slide-out 1s ease-out forwards;
    transition: opacity .5s;
    opacity: 0;
}

@keyframes slide-in {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}


.fade-leave {

}

.fade-leave-active {
    transition: opacity 1s;
    opacity: 0;
}
.show-enter-active,
.show-leave-enter {
    transform: translateX(0);
    transition: all .3s linear;
}
.show-enter,
.show-leave-to {
    transform: translateX(100%);
}


.slide-in {
    max-width: 600px;
    padding: 2em 3em;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -100%;
    background: #ddd;
    height: 100%;
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
    transition: all .5s ease-in-out;
}

/* Set positioning back to 0 when toggled opened */
.open {
    right: 0;
}

/* add a close button in case toggle button is hidden on smaller screens */
.close-btn {
    border: none;
    font-weight: bold;
    font-size: 2em;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
}
