@charset "UTF-8";

/*  fonts */
.ft8{font-size: 8px;}
.ft9{font-size: 9px;}
.ft10{font-size: 10px;}
.ft11{font-size: 11px;}
.ft12{font-size: 12px;}
.ft13{font-size: 13px;}
.ft14{font-size: 14px;}
.ft15{font-size: 15px;}
.ft16{font-size: 16px;}
.ft17{font-size: 17px;}
.ft18{font-size: 18px;}
.ft19{font-size: 19px;}
.ft20{font-size: 20px;}
.ft21{font-size: 21px;}
.ft22{font-size: 22px;}
.ft23{font-size: 23px;}
.ft24{font-size: 24px;}
.ft25{font-size: 25px;}
.ft26{font-size: 26px;}
.ft27{font-size: 27px;}
.ft28{font-size: 28px;}
.ft29{font-size: 29px;}
.ft30{font-size: 30px;}
.ft31{font-size: 31px;}
.ft32{font-size: 32px;}
.ft33{font-size: 33px;}
.ft34{font-size: 34px;}
.ft35{font-size: 35px;}
.ft36{font-size: 36px;}
.ft37{font-size: 37px;}
.ft38{font-size: 38px;}
.ft39{font-size: 39px;}
.ft40{font-size: 40px;}
.ft41{font-size: 41px;}
.ft42{font-size: 42px;}
.ft43{font-size: 43px;}
.ft44{font-size: 44px;}
.ft45{font-size: 45px;}
.ft46{font-size: 46px;}
.ft47{font-size: 47px;}
.ft48{font-size: 48px;}
.ft49{font-size: 49px;}
.ft50{font-size: 50px;}


/* margins */
.ma0{margin:0px !important}
.ma1{margin:1px !important}
.ma2{margin:2px !important}
.ma3{margin:3px !important}
.ma4{margin:4px !important}
.ma5{margin:5px !important}
.ma6{margin:6px !important}
.ma7{margin:7px !important}
.ma8{margin:8px !important}
.ma9{margin:9px !important}
.ma10{margin:10px !important}
.ma11{margin:11px !important}
.ma12{margin:12px !important}
.ma13{margin:13px !important}
.ma14{margin:14px !important}
.ma15{margin:15px !important}
.ma16{margin:16px !important}
.ma17{margin:17px !important}
.ma18{margin:18px !important}
.ma19{margin:19px !important}
.ma20{margin:20px !important}
.ma25{margin:25px !important}
.ma30{margin:30px !important}
.ma35{margin:35px !important}
.ma40{margin:40px !important}
.ma45{margin:45px !important}
.ma50{margin:50px !important}
.ma55{margin:55px !important}
.ma60{margin:60px !important}

.mt-5{margin-top:-5px !important}
.mt0{margin-top:0px !important}
.mt1{margin-top:1px !important}
.mt2{margin-top:2px !important}
.mt3{margin-top:3px !important}
.mt4{margin-top:4px !important}
.mt5{margin-top:5px !important}
.mt6{margin-top:6px !important}
.mt7{margin-top:7px !important}
.mt8{margin-top:8px !important}
.mt9{margin-top:9px !important}
.mt10{margin-top:10px !important}
.mt11{margin-top:11px !important}
.mt12{margin-top:12px !important}
.mt13{margin-top:13px !important}
.mt14{margin-top:14px !important}
.mt15{margin-top:15px !important}
.mt16{margin-top:16px !important}
.mt17{margin-top:17px !important}
.mt18{margin-top:18px !important}
.mt19{margin-top:19px !important}
.mt20{margin-top:20px !important}
.mt22{margin-top:22px !important}
.mt24{margin-top:24px !important}
.mt25{margin-top:25px !important}
.mt28{margin-top:28px !important}
.mt30{margin-top:30px !important}
.mt33{margin-top:33px !important}
.mt35{margin-top:35px !important}
.mt36{margin-top:36px !important}
.mt38{margin-top:38px !important}
.mt39{margin-top:39px !important}
.mt40{margin-top:40px !important}
.mt43{margin-top:43px !important}
.mt45{margin-top:45px !important}
.mt47{margin-top:47px !important}
.mt50{margin-top:50px !important}
.mt55{margin-top:55px !important}
.mt58{margin-top:58px !important}
.mt60{margin-top:60px !important}
.mt68{margin-top:68px !important}
.mt70{margin-top:70px !important}
.mt72{margin-top:72px !important}
.mt75{margin-top:75px !important}
.mt77{margin-top:77px !important}
.mt87{margin-top:87px !important}
.mt90{margin-top:90px !important}
.mt100{margin-top:100px !important}
.mt105{margin-top:105px !important}
.mt120{margin-top:120px !important}
.mt126{margin-top:126px !important}
.mt138{margin-top:138px !important}
.mt150{margin-top:150px !important}
.mt160{margin-top:160px !important}
.mt175{margin-top:175px !important}
.mt190{margin-top:190px !important}
.mt198{margin-top:198px !important}
.mt248{margin-top:248px !important}

.mr0{margin-right:0px !important}
.mr1{margin-right:1px !important}
.mr2{margin-right:2px !important}
.mr3{margin-right:3px !important}
.mr4{margin-right:4px !important}
.mr5{margin-right:5px !important}
.mr6{margin-right:6px !important}
.mr7{margin-right:7px !important}
.mr8{margin-right:8px !important}
.mr9{margin-right:9px !important}
.mr10{margin-right:10px !important}
.mr11{margin-right:11px !important}
.mr12{margin-right:12px !important}
.mr13{margin-right:13px !important}
.mr14{margin-right:14px !important}
.mr15{margin-right:15px !important}
.mr16{margin-right:16px !important}
.mr17{margin-right:17px !important}
.mr18{margin-right:18px !important}
.mr19{margin-right:19px !important}
.mr20{margin-right:20px !important}
.mr22{margin-right:22px !important}
.mr24{margin-right:24px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}
.mr35{margin-right:35px !important}
.mr40{margin-right:40px !important}
.mr45{margin-right:45px !important}
.mr50{margin-right:50px !important}
.mr54{margin-right:54px !important}
.mr55{margin-right:55px !important}
.mr60{margin-right:60px !important}
.mr140{margin-right:140px !important}


.mb0{margin-bottom:0px !important}
.mb1{margin-bottom:1px !important}
.mb2{margin-bottom:2px !important}
.mb3{margin-bottom:3px !important}
.mb4{margin-bottom:4px !important}
.mb5{margin-bottom:5px !important}
.mb6{margin-bottom:6px !important}
.mb7{margin-bottom:7px !important}
.mb8{margin-bottom:8px !important}
.mb9{margin-bottom:9px !important}
.mb10{margin-bottom:10px !important}
.mb11{margin-bottom:11px !important}
.mb12{margin-bottom:12px !important}
.mb13{margin-bottom:13px !important}
.mb14{margin-bottom:14px !important}
.mb15{margin-bottom:15px !important}
.mb16{margin-bottom:16px !important}
.mb17{margin-bottom:17px !important}
.mb18{margin-bottom:18px !important}
.mb19{margin-bottom:19px !important}
.mb20{margin-bottom:20px !important}
.mb22{margin-bottom:22px !important}
.mb24{margin-bottom:24px !important}
.mb25{margin-bottom:25px !important}
.mb28{margin-bottom:28px !important}
.mb29{margin-bottom:29px !important}
.mb30{margin-bottom:30px !important}
.mb32{margin-bottom:32px !important}
.mb33{margin-bottom:33px !important}
.mb35{margin-bottom:35px !important}
.mb40{margin-bottom:40px !important}
.mb45{margin-bottom:45px !important}
.mb50{margin-bottom:50px !important}
.mb53{margin-bottom:53px !important}
.mb54{margin-bottom:54px !important}
.mb55{margin-bottom:55px !important}
.mb58{margin-bottom:58px !important}
.mb60{margin-bottom:60px !important}
.mb65{margin-bottom:65px !important}
.mb69{margin-bottom:69px !important}
.mb70{margin-bottom:70px !important}
.mb72{margin-bottom:72px !important}
.mb75{margin-bottom:75px !important}
.mb80{margin-bottom:80px !important}
.mb90{margin-bottom:90px !important}
.mb95{margin-bottom:95px !important}
.mb100{margin-bottom:100px !important}
.mb110{margin-bottom:110px !important}
.mb120{margin-bottom:120px !important}
.mb138{margin-bottom:138px !important}
.mb150{margin-bottom:150px !important}
.mb350{margin-bottom:350px !important}




.ml0{margin-left:0px !important}
.ml1{margin-left:1px !important}
.ml2{margin-left:2px !important}
.ml3{margin-left:3px !important}
.ml4{margin-left:4px !important}
.ml5{margin-left:5px !important}
.ml6{margin-left:6px !important}
.ml7{margin-left:7px !important}
.ml8{margin-left:8px !important}
.ml9{margin-left:9px !important}
.ml10{margin-left:10px !important}
.ml11{margin-left:11px !important}
.ml12{margin-left:12px !important}
.ml13{margin-left:13px !important}
.ml14{margin-left:14px !important}
.ml15{margin-left:15px !important}
.ml16{margin-left:16px !important}
.ml17{margin-left:17px !important}
.ml18{margin-left:18px !important}
.ml19{margin-left:19px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}
.ml35{margin-left:35px !important}
.ml40{margin-left:40px !important}
.ml45{margin-left:45px !important}
.ml50{margin-left:50px !important}
.ml55{margin-left:55px !important}
.ml60{margin-left:60px !important}
.ml70{margin-left:70px !important}
/* paddings */
.pa0{padding:0px !important}
.pa1{padding:1px !important}
.pa2{padding:2px !important}
.pa3{padding:3px !important}
.pa4{padding:4px !important}
.pa5{padding:5px !important}
.pa6{padding:6px !important}
.pa7{padding:7px !important}
.pa8{padding:8px !important}
.pa9{padding:9px !important}
.pa10{padding:10px !important}
.pa11{padding:11px !important}
.pa12{padding:12px !important}
.pa13{padding:13px !important}
.pa14{padding:14px !important}
.pa15{padding:15px !important}
.pa16{padding:16px !important}
.pa17{padding:17px !important}
.pa18{padding:18px !important}
.pa19{padding:19px !important}
.pa20{padding:20px !important}
.pa25{padding:25px !important}
.pa30{padding:30px !important}
.pa35{padding:35px !important}
.pa40{padding:40px !important}
.pa45{padding:45px !important}
.pa50{padding:50px !important}
.pa55{padding:55px !important}
.pa60{padding:60px !important}
.pt0{padding-top:0px !important}
.pt1{padding-top:1px !important}
.pt2{padding-top:2px !important}
.pt3{padding-top:3px !important}
.pt4{padding-top:4px !important}
.pt5{padding-top:5px !important}
.pt6{padding-top:6px !important}
.pt7{padding-top:7px !important}
.pt8{padding-top:8px !important}
.pt9{padding-top:9px !important}
.pt10{padding-top:10px !important}
.pt11{padding-top:11px !important}
.pt12{padding-top:12px !important}
.pt13{padding-top:13px !important}
.pt14{padding-top:14px !important}
.pt15{padding-top:15px !important}
.pt16{padding-top:16px !important}
.pt17{padding-top:17px !important}
.pt18{padding-top:18px !important}
.pt19{padding-top:19px !important}
.pt20{padding-top:20px !important}
.pt21{padding-top:21px !important}
.pt22{padding-top:22px !important}
.pt24{padding-top:24px !important}
.pt25{padding-top:25px !important}
.pt29{padding-top:29px !important}
.pt30{padding-top:30px !important}
.pt35{padding-top:35px !important}
.pt40{padding-top:40px !important}
.pt45{padding-top:45px !important}
.pt48{padding-top:48px !important}
.pt50{padding-top:50px !important}
.pt55{padding-top:55px !important}
.pt58{padding-top:58px !important}
.pt60{padding-top:60px !important}
.pt66{padding-top:66px !important}
.pt68{padding-top:68px !important}
.pt70{padding-top:70px !important}
.pt74{padding-top:74px !important}
.pt80{padding-top:80px !important}
.pt90{padding-top:90px !important}
.pt100{padding-top:100px !important}
.pt120{padding-top:120px !important}


.pr0{padding-right:0px !important}
.pr1{padding-right:1px !important}
.pr2{padding-right:2px !important}
.pr3{padding-right:3px !important}
.pr4{padding-right:4px !important}
.pr5{padding-right:5px !important}
.pr6{padding-right:6px !important}
.pr7{padding-right:7px !important}
.pr8{padding-right:8px !important}
.pr9{padding-right:9px !important}
.pr10{padding-right:10px !important}
.pr11{padding-right:11px !important}
.pr12{padding-right:12px !important}
.pr13{padding-right:13px !important}
.pr14{padding-right:14px !important}
.pr15{padding-right:15px !important}
.pr16{padding-right:16px !important}
.pr17{padding-right:17px !important}
.pr18{padding-right:18px !important}
.pr19{padding-right:19px !important}
.pr20{padding-right:20px !important}
.pr21{padding-right:21px !important}
.pr22{padding-right:22px !important}
.pr24{padding-right:24px !important}
.pr25{padding-right:25px !important}
.pr26{padding-right:26px !important}
.pr27{padding-right:27px !important}
.pr28{padding-right:28px !important}
.pr29{padding-right:29px !important}
.pr30{padding-right:30px !important}
.pr35{padding-right:35px !important}
.pr40{padding-right:40px !important}
.pr45{padding-right:45px !important}
.pr50{padding-right:50px !important}
.pr55{padding-right:55px !important}
.pr60{padding-right:60px !important}
.pr70{padding-right:70px !important}

.pb0{padding-bottom:0px !important}
.pb1{padding-bottom:1px !important}
.pb2{padding-bottom:2px !important}
.pb3{padding-bottom:3px !important}
.pb4{padding-bottom:4px !important}
.pb5{padding-bottom:5px !important}
.pb6{padding-bottom:6px !important}
.pb7{padding-bottom:7px !important}
.pb8{padding-bottom:8px !important}
.pb9{padding-bottom:9px !important}
.pb10{padding-bottom:10px !important}
.pb11{padding-bottom:11px !important}
.pb12{padding-bottom:12px !important}
.pb13{padding-bottom:13px !important}
.pb14{padding-bottom:14px !important}
.pb15{padding-bottom:15px !important}
.pb16{padding-bottom:16px !important}
.pb17{padding-bottom:17px !important}
.pb18{padding-bottom:18px !important}
.pb19{padding-bottom:19px !important}
.pb20{padding-bottom:20px !important}
.pb24{padding-bottom:24px !important}
.pb25{padding-bottom:25px !important}
.pb27{padding-bottom:27px !important}
.pb29{padding-bottom:29px !important}
.pb30{padding-bottom:30px !important}
.pb35{padding-bottom:35px !important}
.pb40{padding-bottom:40px !important}
.pb45{padding-bottom:45px !important}
.pb50{padding-bottom:50px !important}
.pb55{padding-bottom:55px !important}
.pb60{padding-bottom:60px !important}
.pb65{padding-bottom:65px !important}
.pb72{padding-bottom:72px !important}
.pb77{padding-bottom:77px !important}
.pb80{padding-bottom:80px !important}


.pl0{padding-left:0px !important}
.pl1{padding-left:1px !important}
.pl2{padding-left:2px !important}
.pl3{padding-left:3px !important}
.pl4{padding-left:4px !important}
.pl5{padding-left:5px !important}
.pl6{padding-left:6px !important}
.pl7{padding-left:7px !important}
.pl8{padding-left:8px !important}
.pl9{padding-left:9px !important}
.pl10{padding-left:10px !important}
.pl11{padding-left:11px !important}
.pl12{padding-left:12px !important}
.pl13{padding-left:13px !important}
.pl14{padding-left:14px !important}
.pl15{padding-left:15px !important}
.pl16{padding-left:16px !important}
.pl17{padding-left:17px !important}
.pl18{padding-left:18px !important}
.pl19{padding-left:19px !important}
.pl20{padding-left:20px !important}
.pl21{padding-left:21px !important}
.pl22{padding-left:22px !important}
.pl23{padding-left:23px !important}
.pl24{padding-left:24px !important}
.pl25{padding-left:25px !important}
.pl26{padding-left:26px !important}
.pl27{padding-left:27px !important}
.pl28{padding-left:28px !important}
.pl29{padding-left:29px !important}
.pl30{padding-left:30px !important}
.pl35{padding-left:35px !important}
.pl40{padding-left:40px !important}
.pl45{padding-left:45px !important}
.pl50{padding-left:50px !important}
.pl55{padding-left:55px !important}
.pl60{padding-left:60px !important}
.pl70{padding-left:70px !important}

/* Border */
.bt0{border-top:0 !important}
.bb0{border-bottom:0 !important}
.bl0{border-left:0 !important}
.br0{border-right:0 !important}
/* Font Size */
.fw300{font-weight: 300 !important;}
.fw400{font-weight:400 !important;}
.fw500{font-weight: 500 !important;}
.fw600{font-weight: 600 !important;}
.fw700{font-weight:700 !important;}
.fw800{font-weight: 800 !important;}
.fw900{font-weight: 900 !important;}
.fs11{font-size:11px !important}
.fs12{font-size:12px !important}
.fs13{font-size:13px !important}
.fs14{font-size:14px !important}
.fs15{font-size:15px !important}
.fs16{font-size:16px !important}
.fs17{font-size:17px !important}
.fs18{font-size:18px !important}
.fs20{font-size:20px !important}

@media screen and (max-width:970px){
  /* margins */
  .ma0-xs{margin:0px !important}
  .ma1-xs{margin:1px !important}
  .ma2-xs{margin:2px !important}
  .ma3-xs{margin:3px !important}
  .ma4-xs{margin:4px !important}
  .ma5-xs{margin:5px !important}
  .ma6-xs{margin:6px !important}
  .ma7-xs{margin:7px !important}
  .ma8-xs{margin:8px !important}
  .ma9-xs{margin:9px !important}
  .ma10-xs{margin:10px !important}
  .ma11-xs{margin:11px !important}
  .ma12-xs{margin:12px !important}
  .ma13-xs{margin:13px !important}
  .ma14-xs{margin:14px !important}
  .ma15-xs{margin:15px !important}
  .ma16-xs{margin:16px !important}
  .ma17-xs{margin:17px !important}
  .ma18-xs{margin:18px !important}
  .ma19-xs{margin:19px !important}
  .ma20-xs{margin:20px !important}
  .ma25-xs{margin:25px !important}
  .ma30-xs{margin:30px !important}
  .ma35-xs{margin:35px !important}
  .ma40-xs{margin:40px !important}
  .ma45-xs{margin:45px !important}
  .ma50-xs{margin:50px !important}
  .ma55-xs{margin:55px !important}
  .ma60-xs{margin:60px !important}
  .mt0-xs{margin-top:0px !important}
  .mt1-xs{margin-top:1px !important}
  .mt2-xs{margin-top:2px !important}
  .mt3-xs{margin-top:3px !important}
  .mt4-xs{margin-top:4px !important}
  .mt5-xs{margin-top:5px !important}
  .mt6-xs{margin-top:6px !important}
  .mt7-xs{margin-top:7px !important}
  .mt8-xs{margin-top:8px !important}
  .mt9-xs{margin-top:9px !important}
  .mt10-xs{margin-top:10px !important}
  .mt11-xs{margin-top:11px !important}
  .mt12-xs{margin-top:12px !important}
  .mt13-xs{margin-top:13px !important}
  .mt14-xs{margin-top:14px !important}
  .mt15-xs{margin-top:15px !important}
  .mt16-xs{margin-top:16px !important}
  .mt17-xs{margin-top:17px !important}
  .mt18-xs{margin-top:18px !important}
  .mt19-xs{margin-top:19px !important}
  .mt20-xs{margin-top:20px !important}
  .mt25-xs{margin-top:25px !important}
  .mt30-xs{margin-top:30px !important}
  .mt35-xs{margin-top:35px !important}
  .mt40-xs{margin-top:40px !important}
  .mt45-xs{margin-top:45px !important}
  .mt50-xs{margin-top:50px !important}
  .mt55-xs{margin-top:55px !important}
  .mt60-xs{margin-top:60px !important}
  .mt75-xs{margin-top:75px !important}
  .mr0-xs{margin-right:0px !important}
  .mr1-xs{margin-right:1px !important}
  .mr2-xs{margin-right:2px !important}
  .mr3-xs{margin-right:3px !important}
  .mr4-xs{margin-right:4px !important}
  .mr5-xs{margin-right:5px !important}
  .mr6-xs{margin-right:6px !important}
  .mr7-xs{margin-right:7px !important}
  .mr8-xs{margin-right:8px !important}
  .mr9-xs{margin-right:9px !important}
  .mr10-xs{margin-right:10px !important}
  .mr11-xs{margin-right:11px !important}
  .mr12-xs{margin-right:12px !important}
  .mr13-xs{margin-right:13px !important}
  .mr14-xs{margin-right:14px !important}
  .mr15-xs{margin-right:15px !important}
  .mr16-xs{margin-right:16px !important}
  .mr17-xs{margin-right:17px !important}
  .mr18-xs{margin-right:18px !important}
  .mr19-xs{margin-right:19px !important}
  .mr20-xs{margin-right:20px !important}
  .mr25-xs{margin-right:25px !important}
  .mr30-xs{margin-right:30px !important}
  .mr35-xs{margin-right:35px !important}
  .mr40-xs{margin-right:40px !important}
  .mr45-xs{margin-right:45px !important}
  .mr50-xs{margin-right:50px !important}
  .mr55-xs{margin-right:55px !important}
  .mr60-xs{margin-right:60px !important}
  .mb0-xs{margin-bottom:0px !important}
  .mb1-xs{margin-bottom:1px !important}
  .mb2-xs{margin-bottom:2px !important}
  .mb3-xs{margin-bottom:3px !important}
  .mb4-xs{margin-bottom:4px !important}
  .mb5-xs{margin-bottom:5px !important}
  .mb6-xs{margin-bottom:6px !important}
  .mb7-xs{margin-bottom:7px !important}
  .mb8-xs{margin-bottom:8px !important}
  .mb9-xs{margin-bottom:9px !important}
  .mb10-xs{margin-bottom:10px !important}
  .mb11-xs{margin-bottom:11px !important}
  .mb12-xs{margin-bottom:12px !important}
  .mb13-xs{margin-bottom:13px !important}
  .mb14-xs{margin-bottom:14px !important}
  .mb15-xs{margin-bottom:15px !important}
  .mb16-xs{margin-bottom:16px !important}
  .mb17-xs{margin-bottom:17px !important}
  .mb18-xs{margin-bottom:18px !important}
  .mb19-xs{margin-bottom:19px !important}
  .mb20-xs{margin-bottom:20px !important}
  .mb25-xs{margin-bottom:25px !important}
  .mb30-xs{margin-bottom:30px !important}
  .mb35-xs{margin-bottom:35px !important}
  .mb40-xs{margin-bottom:40px !important}
  .mb45-xs{margin-bottom:45px !important}
  .mb50-xs{margin-bottom:50px !important}
  .mb55-xs{margin-bottom:55px !important}
  .mb60-xs{margin-bottom:60px !important}
  .mb70-xs{margin-bottom:70px !important}
  .ml0-xs{margin-left:0px !important}
  .ml1-xs{margin-left:1px !important}
  .ml2-xs{margin-left:2px !important}
  .ml3-xs{margin-left:3px !important}
  .ml4-xs{margin-left:4px !important}
  .ml5-xs{margin-left:5px !important}
  .ml6-xs{margin-left:6px !important}
  .ml7-xs{margin-left:7px !important}
  .ml8-xs{margin-left:8px !important}
  .ml9-xs{margin-left:9px !important}
  .ml10-xs{margin-left:10px !important}
  .ml11-xs{margin-left:11px !important}
  .ml12-xs{margin-left:12px !important}
  .ml13-xs{margin-left:13px !important}
  .ml14-xs{margin-left:14px !important}
  .ml15-xs{margin-left:15px !important}
  .ml16-xs{margin-left:16px !important}
  .ml17-xs{margin-left:17px !important}
  .ml18-xs{margin-left:18px !important}
  .ml19-xs{margin-left:19px !important}
  .ml20-xs{margin-left:20px !important}
  .ml25-xs{margin-left:25px !important}
  .ml30-xs{margin-left:30px !important}
  .ml35-xs{margin-left:35px !important}
  .ml40-xs{margin-left:40px !important}
  .ml45-xs{margin-left:45px !important}
  .ml50-xs{margin-left:50px !important}
  .ml55-xs{margin-left:55px !important}
  .ml60-xs{margin-left:60px !important}
  /* paddings */
  .pa0-xs{padding:0px !important}
  .pa1-xs{padding:1px !important}
  .pa2-xs{padding:2px !important}
  .pa3-xs{padding:3px !important}
  .pa4-xs{padding:4px !important}
  .pa5-xs{padding:5px !important}
  .pa6-xs{padding:6px !important}
  .pa7-xs{padding:7px !important}
  .pa8-xs{padding:8px !important}
  .pa9-xs{padding:9px !important}
  .pa10-xs{padding:10px !important}
  .pa11-xs{padding:11px !important}
  .pa12-xs{padding:12px !important}
  .pa13-xs{padding:13px !important}
  .pa14-xs{padding:14px !important}
  .pa15-xs{padding:15px !important}
  .pa16-xs{padding:16px !important}
  .pa17-xs{padding:17px !important}
  .pa18-xs{padding:18px !important}
  .pa19-xs{padding:19px !important}
  .pa20-xs{padding:20px !important}
  .pa25-xs{padding:25px !important}
  .pa30-xs{padding:30px !important}
  .pa35-xs{padding:35px !important}
  .pa40-xs{padding:40px !important}
  .pa45-xs{padding:45px !important}
  .pa50-xs{padding:50px !important}
  .pa55-xs{padding:55px !important}
  .pa60-xs{padding:60px !important}
  .pt0-xs{padding-top:0px !important}
  .pt1-xs{padding-top:1px !important}
  .pt2-xs{padding-top:2px !important}
  .pt3-xs{padding-top:3px !important}
  .pt4-xs{padding-top:4px !important}
  .pt5-xs{padding-top:5px !important}
  .pt6-xs{padding-top:6px !important}
  .pt7-xs{padding-top:7px !important}
  .pt8-xs{padding-top:8px !important}
  .pt9-xs{padding-top:9px !important}
  .pt10-xs{padding-top:10px !important}
  .pt11-xs{padding-top:11px !important}
  .pt12-xs{padding-top:12px !important}
  .pt13-xs{padding-top:13px !important}
  .pt14-xs{padding-top:14px !important}
  .pt15-xs{padding-top:15px !important}
  .pt16-xs{padding-top:16px !important}
  .pt17-xs{padding-top:17px !important}
  .pt18-xs{padding-top:18px !important}
  .pt19-xs{padding-top:19px !important}
  .pt20-xs{padding-top:20px !important}
  .pt25-xs{padding-top:25px !important}
  .pt30-xs{padding-top:30px !important}
  .pt35-xs{padding-top:35px !important}
  .pt40-xs{padding-top:40px !important}
  .pt45-xs{padding-top:45px !important}
  .pt50-xs{padding-top:50px !important}
  .pt55-xs{padding-top:55px !important}
  .pt60-xs{padding-top:60px !important}
  .pr0-xs{padding-right:0px !important}
  .pr1-xs{padding-right:1px !important}
  .pr2-xs{padding-right:2px !important}
  .pr3-xs{padding-right:3px !important}
  .pr4-xs{padding-right:4px !important}
  .pr5-xs{padding-right:5px !important}
  .pr6-xs{padding-right:6px !important}
  .pr7-xs{padding-right:7px !important}
  .pr8-xs{padding-right:8px !important}
  .pr9-xs{padding-right:9px !important}
  .pr10-xs{padding-right:10px !important}
  .pr11-xs{padding-right:11px !important}
  .pr12-xs{padding-right:12px !important}
  .pr13-xs{padding-right:13px !important}
  .pr14-xs{padding-right:14px !important}
  .pr15-xs{padding-right:15px !important}
  .pr16-xs{padding-right:16px !important}
  .pr17-xs{padding-right:17px !important}
  .pr18-xs{padding-right:18px !important}
  .pr19-xs{padding-right:19px !important}
  .pr20-xs{padding-right:20px !important}
  .pr25-xs{padding-right:25px !important}
  .pr30-xs{padding-right:30px !important}
  .pr35-xs{padding-right:35px !important}
  .pr40-xs{padding-right:40px !important}
  .pr45-xs{padding-right:45px !important}
  .pr50-xs{padding-right:50px !important}
  .pr55-xs{padding-right:55px !important}
  .pr60-xs{padding-right:60px !important}
  .pb0-xs{padding-bottom:0px !important}
  .pb1-xs{padding-bottom:1px !important}
  .pb2-xs{padding-bottom:2px !important}
  .pb3-xs{padding-bottom:3px !important}
  .pb4-xs{padding-bottom:4px !important}
  .pb5-xs{padding-bottom:5px !important}
  .pb6-xs{padding-bottom:6px !important}
  .pb7-xs{padding-bottom:7px !important}
  .pb8-xs{padding-bottom:8px !important}
  .pb9-xs{padding-bottom:9px !important}
  .pb10-xs{padding-bottom:10px !important}
  .pb11-xs{padding-bottom:11px !important}
  .pb12-xs{padding-bottom:12px !important}
  .pb13-xs{padding-bottom:13px !important}
  .pb14-xs{padding-bottom:14px !important}
  .pb15-xs{padding-bottom:15px !important}
  .pb16-xs{padding-bottom:16px !important}
  .pb17-xs{padding-bottom:17px !important}
  .pb18-xs{padding-bottom:18px !important}
  .pb19-xs{padding-bottom:19px !important}
  .pb20-xs{padding-bottom:20px !important}
  .pb25-xs{padding-bottom:25px !important}
  .pb30-xs{padding-bottom:30px !important}
  .pb35-xs{padding-bottom:35px !important}
  .pb40-xs{padding-bottom:40px !important}
  .pb45-xs{padding-bottom:45px !important}
  .pb50-xs{padding-bottom:50px !important}
  .pb55-xs{padding-bottom:55px !important}
  .pb60-xs{padding-bottom:60px !important}
  .pl0-xs{padding-left:0px !important}
  .pl1-xs{padding-left:1px !important}
  .pl2-xs{padding-left:2px !important}
  .pl3-xs{padding-left:3px !important}
  .pl4-xs{padding-left:4px !important}
  .pl5-xs{padding-left:5px !important}
  .pl6-xs{padding-left:6px !important}
  .pl7-xs{padding-left:7px !important}
  .pl8-xs{padding-left:8px !important}
  .pl9-xs{padding-left:9px !important}
  .pl10-xs{padding-left:10px !important}
  .pl11-xs{padding-left:11px !important}
  .pl12-xs{padding-left:12px !important}
  .pl13-xs{padding-left:13px !important}
  .pl14-xs{padding-left:14px !important}
  .pl15-xs{padding-left:15px !important}
  .pl16-xs{padding-left:16px !important}
  .pl17-xs{padding-left:17px !important}
  .pl18-xs{padding-left:18px !important}
  .pl19-xs{padding-left:19px !important}
  .pl20-xs{padding-left:20px !important}
  .pl25-xs{padding-left:25px !important}
  .pl30-xs{padding-left:30px !important}
  .pl35-xs{padding-left:35px !important}
  .pl40-xs{padding-left:40px !important}
  .pl45-xs{padding-left:45px !important}
  .pl50-xs{padding-left:50px !important}
  .pl55-xs{padding-left:55px !important}
  .pl60-xs{padding-left:60px !important}
}
.p-relative {position:relative;}
.p-absoulte {position:absolute;}
.p-fixed {position:fixed;}
.p-unset {position:unset !important;}

.w100p{width: 100%;}
.w50p {width: 50%;}
.w45p {width: 45%;}
.h100p{height: 100%;}
.h50p {height: 50%;}
.w100h {width: 100vh;}
.w100w {width: 100vw;}
.h100vh {height: 100vh;}
.h100vw {height: 100vw;}

.in_block{
  display: inline-block;
}
.cursor{
    cursor: pointer;
}
.one_line{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ba0{border: 0px !important;}

.text-center {
    text-align: center;
}


.p-y-md {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.p-a-md {padding: 1.5rem;}
.p-x-md {padding: 1.5rem;}
.m-b-sm {
    margin-bottom: 0.5rem;
}
.btn {
    font-weight: 500;
    outline: 0 !important;
}
.btn-block {
    display: block;
    width: 100%;
}

.b-t {border-top: 1px solid #78828C20;}
.b-b {border-bottom: 1px solid #78828C20;}

.center-block {
    margin: 0 auto;
}

.text-white {
    color: white;
}

.flex {display: flex;}
.in-flex {display: inline-flex;}
.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.side-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.in-flex-center {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.space-between { justify-content: space-between; }
.items-center {
    align-content: center;
}
.sm-text {
    font-size: 0.8rem;
    font-family: "Noto Sans KR";
}

.f-medium {
    font-weight: 500;
}
.f-bold {
    font-weight: bold;
}
.sm-text-en {
    font-size: 0.8rem;
    font-family: Roboto, sans-serif;
}
.grey {color: #78828C;}
.a_link {
    color: #b3e5fc;
    text-decoration: none;
}
.roboto {
    font-family: Roboto, sans-serif;
}
.notosans {
    font-family: "Noto Sans KR";
}

.large-text {
    font-size: 1.4rem;
}

.lh-1rem {line-height: 1rem;}
.lh-1-5rem {line-height: 1.5rem;}
.lh-2rem {line-height: 2rem;}

.word-keep {word-break: keep-all;}
.text-pre {
    white-space: pre-wrap;
    word-break: break-all;
}
.pos_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.no-style {
    text-decoration: none;
    outline: none;
    border: none;
    position: unset;
}
.text-black {
    color: #000000;
}
.text-dark {
    color: #222222;
}
.pointer {
    cursor: pointer;
}
