<template>
    <div id="app">
        <div class="content">
            <div class="app-header">
                <UiGnb/>
                <UiLnb/>
            </div>
            <div class="container">
                <Nuxt/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ConsoleLayout",
    data() {
        return {}
    },
    mounted() {
        this.checkAuth();
    },
    methods: {
        checkAuth() {
            if (!localStorage.getItem('UUID')) {
                this.$popup.alert({
                    title: '알림',
                    content: '로그인이 필요합니다.',
                    confirm: () => {
                        this.$router.push('/signin');
                    }
                });
            }
        },
    }
}
</script>

<style scoped>

</style>
