<template>
    <div>
        <div style="height: 68px;">

        </div>
        <Nuxt/>
    </div>
</template>

<script>
export default {
    name: "default",
    data() {
        return {}
    },
    mounted() {
    },
    methods: {
    }
}
</script>

<style scoped>

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

</style>
