<template>
    <div id="auth_page" class="app-page w100p 100p">

        <div class="max-centerBox center-block p-y-md">
            <div class="text-center pb24">
                <h1 class="hTBox">Console 가입하기</h1>
                <div class="text-muted pt12">부운영자이신가요?
                    <button class="no-style text-info bg-white" @click="$router.push('/signup?ru=')">여기서 가입하기</button>
                </div>
            </div>

            <div class="m-t-sm m-b-sm">
                <button class="btn fullButton w100p">
                    <img src="~/assets/image/google_logo.png" alt="google"/> Google 계정으로 회원가입
                </button>
            </div>
            <div class="m-t-sm m-b-sm">
                <button class="btn fullButton w100p">
                    <img src="~/assets/image/apple_logo.png" alt="apple"/>Apple 계정으로 계속하기
                </button>
            </div>
            <div class="m-t-sm m-b-sm">
                <button class="btn fullButton w100p">
                    <img src="~/assets/image/facebook_logo.png" alt="facebook"/>Facebook 계정으로 계속하기
                </button>
            </div>

            <div class="middle_line">
                <hr class="hrLine">
                <div class="text-muted">
                    또는 이메일로 회원가입
                </div>
                <hr class="hrLine">
            </div>

            <div class="mb20 mt20 text-sm b-b">
                <b-form @submit.stop.prevent="submitForm" class="register_form center-block">
                    <div class="form ">
                        <b-form-input type="text" required
                                      v-model="registerForm.name"
                                      aria-describedby="name-input-feedback"
                                      @keyup.enter="submitForm('registerForm')"
                                      placeholder="이름" autocomplete="off"
                                      :state="checkValidate().validateName(registerForm.name)"/>
                        <b-form-invalid-feedback id="name-input-feedback">
                            {{ checkValidate().validateString('name', registerForm.name) }}
                        </b-form-invalid-feedback>
                    </div>
                    <div class="form ">
                        <b-form-input type="email" required
                                      v-model="registerForm.email"
                                      aria-describedby="email-input-feedback"
                                      @keyup.enter="submitForm('registerForm')"
                                      placeholder="이메일" autocomplete="off"
                                      :state="checkValidate().validateEmail(registerForm.email)"/>
                        <b-form-invalid-feedback id="email-input-feedback">
                            {{ checkValidate().validateString('email', registerForm.email) }}
                        </b-form-invalid-feedback>
                    </div>

                    <div class="form ">
                        <b-form-input type="password" required
                                      v-model="registerForm.pass"
                                      aria-describedby="pass-input-feedback"
                                      @keyup.enter="submitForm('registerForm')"
                                      placeholder="이메일" autocomplete="off"
                                      :state="checkValidate().validatePass(registerForm.pass)"/>
                        <b-form-invalid-feedback id="pass-input-feedback">
                            {{ checkValidate().validateString('pass', registerForm.pass) }}
                        </b-form-invalid-feedback>
                    </div>

                    <div class="flex-center">
                        <button type="button" class="btn btn-blue-grey text-white mr14 w50p"
                                @click="resetForm('registerForm')">다시 입력 할게요
                        </button>
                        <button type="submit" class="btn btn-info w50p">회원가입</button>
                    </div>
                </b-form>
            </div>

            <div class="text-dark mt20">이미 계정이 있으신가요?
                <button type="button" class="no-style text-info bg-white"
                        @click="$router.push('/signin')">로그인
                </button>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "SignUp",
    data() {
        return {
            activeName: 'normal', // default Normal, type : normal || admin
            groupId: 1,
            registerForm: {
                name: '',
                email: '',
                pass: '',
            },
        };
    },
    methods: {
        checkValidate() {
            const nameReg = /^[ㄱ-ㅎ|가-힣|a-z|A-Z|0-9|]+$/;
            const emailReg = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
            const passReg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/;

            const validateName = (value) => {
                return nameReg.test(value);
            };
            const validateString = (key, value) => {
                switch (key) {
                    case 'name':
                        return nameReg.test(value) ? true : '이름은 한글, 영문, 숫자만 입력 가능합니다.';
                    case 'email':
                        return emailReg.test(value) ? true : '이메일 형식이 올바르지 않습니다.';
                    case 'pass':
                        return passReg.test(value) ? true : '비밀번호는 영문, 숫자, 특수문자를 포함한 8~16자리로 입력해주세요.';
                    default:
                        break;
                }
            };

            const validateEmail = (value) => {
                return emailReg.test(value);
            };

            const validatePass = (value) => {
                return passReg.test(value);
            };
            return {validateEmail, validatePass, validateName, validateString}
        },
        submitForm() {
            let email = this.checkValidate().validateEmail(this.registerForm.email);
            let pass = this.checkValidate().validatePass(this.registerForm.pass);
            if (email === true && pass === true) {
                this.$popup.alert({
                    title: '알림',
                    content: '회원가입 되었습니다.',

                });
            } else {
                if (email !== true) this.$popup.alert({
                    title: '⚠️경고',
                    content: email,
                    closeBtn: true,
                });
                else if (pass !== true) this.$popup.alert({
                    title: '⚠️경고',
                    content: pass,
                    closeBtn: true,
                });
                return false;
            }
        },
        resetForm() {
            for (let key in this.registerForm) {
                this.registerForm[key] = '';
            }
        }
    },

}
</script>

<style lang="scss" scoped>

#auth_page {
    width: 100%;
    height: 100%;
}

.fullButton > img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 0.15rem;
    margin-right: 0.2rem;
}

.register_form {
    max-width: 450px;
}

.form {
    cursor: pointer;
    margin-bottom: 24px;

    input {
        border: none;
        background-color: var(--global-secondary-muted-default);
        color: var(--global-content-regular-default);
    }
}
</style>
