<template>
    <div id="auth_page" class="app-page w100p 100p">

        <div class="max-centerBox center-block p-y-md">
            <div class="text-center pb24">
                <h1 class="hTBox">Console 로그인</h1>
            </div>

            <div class="m-t-sm m-b-sm">
                <button class="btn fullButton w100p">
                    <img src="~/assets/image/google_logo.png" alt="google"/> Google 계정으로 로그인
                </button>
            </div>
            <div class="m-t-sm m-b-sm">
                <button class="btn fullButton w100p">
                    <img src="~/assets/image/apple_logo.png" alt="apple"/>Apple 계정으로 계속하기
                </button>
            </div>
            <div class="m-t-sm m-b-sm">
                <button class="btn fullButton w100p">
                    <img src="~/assets/image/facebook_logo.png" alt="facebook"/>Facebook 계정으로 계속하기
                </button>
            </div>

            <div class="middle_line">
                <hr class="hrLine">
                <div class="text-muted">
                    또는 이메일로 로그인
                </div>
                <hr class="hrLine">
            </div>
            <div class="mb20 mt20 text-sm b-b">
                <form @submit.prevent="submitForm" class="login_form center-block">
                    <div class="form flex-center">
                        <input type="email" class="form-control" id="email" required
                               v-model="loginForm.email" @input="checkValidate().validateEmail()" @keyup.enter="submitForm('loginForm')"
                               placeholder="이메일" autocomplete="off"/>
                    </div>

                    <div class="form flex-center">
                        <input type="password" class="form-control" id="password" required
                               v-model="loginForm.pass" @keyup.enter="submitForm('loginForm')"
                               placeholder="비밀번호" autocomplete="off"/>
                    </div>

                    <div class="flex-center">
                        <button type="button" class="btn btn-blue-grey text-white mr14 w50p"
                                @click="resetForm('loginForm')">다시 입력 할게요</button>
                        <button type="submit" class="btn btn-info w50p">로그인</button>
                    </div>
                </form>
            </div>

            <div>
                <button class="no-style bg-white text-dark" @click="$router.push('/auth/forgot')">
                    비밀번호를 잊으셨습니까?
                </button>
            </div>

            <div class="text-dark mt20">계정을 소유하고 있지 않습니까?
                <button class="no-style text-info bg-white" @click="$router.push('/signup')">회원가입</button>
            </div>
        </div>

    </div>
</template>

<script>
import {v4 as uuidv4} from 'uuid';

export default {
    transition: 'slide',
    name: "SignIn",
    data() {
        return {
            loginForm: {
                email: '',
                pass: '',
                keepAlive: false,
            },
            uuid: '',
        };
    },
    methods: {
        checkValidate(value) {
            const validateEmail = (value) => {
                if (value === '') {
                    return '이메일을 입력해주세요.';
                } else {
                    if (!/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/.test(this.loginForm.email)) {
                        return '올바른 이메일 형식이 아닙니다.';
                    } else {
                        return true;
                    }
                }
            };

            const validatePass = (value) => {
                if (value === '') {
                    return '비밀번호를 입력해주세요.';
                } else {
                    if (this.loginForm.pass.length < 6) {
                        return '비밀번호는 6자리 이상 입력해주세요.';
                    }
                    if (this.loginForm.pass.length > 20) {
                        return '비밀번호는 20자리 이하로 입력해주세요.';
                    }
                    if (this.loginForm.pass.search(/[0-9]/) < 0) {
                        return '비밀번호는 숫자, 영어, 특수문자를 포함해야 합니다.';
                    }
                    if (this.loginForm.pass.search(/[a-z]/) < 0) {
                        return '비밀번호는 숫자, 영어, 특수문자를 포함해야 합니다.';
                    }
                    if (this.loginForm.pass.search(/[~!@#$%^&*()_+|<>?:{}]/) < 0) {
                        return '비밀번호는 숫자, 영어, 특수문자를 포함해야 합니다.';
                    }
                    return true;
                }
            };
            return {validateEmail, validatePass}
        },
        async submitForm() {
            let email = await this.checkValidate().validateEmail(this.loginForm.email);
            let pass = await this.checkValidate().validatePass(this.loginForm.pass);
            if (email === true && pass === true) {
                this.$popup.alert({
                    title: '알림',
                    content: '로그인 되었습니다.',
                    confirm: () => {
                        this.getUUID();
                    }
                });
            } else {
                if (email !== true) this.$popup.alert({
                    title: '⚠️경고',
                    content: email,
                    closeBtn: true,
                });
                else if (pass !== true) this.$popup.alert({
                    title: '⚠️경고',
                    content: pass,
                    closeBtn: true,
                });
                return false;
            }
        },
        getUUID() {
            if (!localStorage.getItem('UUID')) {
                this.uuid = uuidv4();
                localStorage.setItem('UUID', this.uuid);
                this.$store.commit('uuid', this.uuid);
            } else {
                this.uuid = localStorage.getItem('UUID');
            }
            this.$router.push('/console');
        },
        resetForm() {
            for (let key in this.loginForm) {
                this.loginForm[key] = '';
            }
        }
    },

}

</script>

<style scoped>

#auth_page {
    width: 100%;
    height: 100%;
}

.fullButton > img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 0.15rem;
    margin-right: 0.2rem;
}
.login_form {
    max-width: 450px;
}
.form {
    cursor: pointer;
    margin-bottom: 24px;
    input {
        border: none;
        background-color: var(--global-secondary-muted-default);
        color: var(--global-content-regular-default);
    }
}
</style>
